.main {
	background: #f9f9f9;
  width: 50vh;
	height: 100vh;
}

.main_contents {
	margin: auto;
	max-width: 1024px;
	background: white;
	text-align: center;
	padding: 16px;
	height: 100%;
	box-sizing: border-box;
}
