@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Passion+One&family=Russo+One&display=swap');

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:#f1f1f1; */
  background: linear-gradient(#fddb92, #deecdd);
  font-family: 'Russo One', sans-serif;
}

/* body #root {
  display: flex;
} */